{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <div class="container mt-4">
 <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annonce_index') }}">Retour aux annonces</a>

    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce/_delete_form.html.twig') }}
    </div>
{% endblock %}
